.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  margin: 10px;
  gap: 10px;

  height: calc(100vh - 110px);
}

.body {
  max-height: 100%;
  padding-right: 10px;
  overflow-y: auto;
}
